<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">  
  <script src="/lib/jquery/jquery.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/lib/vue.min.js"></script>
  <title>Vue数据增删改查</title>
  <style>
    div{
      margin:10px auto;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="add">
      <input type="text" placeholder="标题" v-model="obj.title"/>
      <input type="text" placeholder="发布人" v-model='obj.user' />
      <input type="date" placeholder="发布时间"  v-model='obj.date' />
      <button @click="add()" :disabled='!obj.title || !obj.user || !obj.date'>新增</button>
    </div>
    <table  cellpadding="0" cellspacing="0" border="1px solid blue" class="table table-hover">
      <thead>
        <tr>
          <td>序号</td>
          <td>标题</td>
          <td>发布人</td>
          <td>发布时间</td>
          <td>id</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for='(list,index) in lists'>
          <td>{{ index+1 }}</td>
          <td>{{ list.title }}</td>
          <td>{{ list.user }}</td>
          <td>{{ list.date }}</td>
          <td>{{ list.id }}</td>
          <td>
            <span class="delete" @click="del(list)">删除</span>
            <span class="edit" @click="edit(list)" >编辑</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="layer" v-show='flag'>
        <div class="mask">
          <div class="title">
            编辑
            <span @click = "flag = false">X</span>
          </div>
          <div class="content">
            <input type="text" placeholder="标题" v-model='editObj.title'>
            <input type="text" placeholder="发布人" v-model='editObj.user'>
            <input type="text" placeholder="发布时间" v-model='editObj.date'>
            <button @click=update()>更新</button>
            <button @click="flag=false">取消</button>
          </div>
        </div>
    </div>
  </div>
  <script>
    new Vue({
      el:'#app',
      data:{
        flag: false,
        obj:{
          title:'',
          user:'',
          date:''
        },
        editObj:'',
        lists:[
          { title:'早上好',user:'xyz',date:'2021-07-14',id:1} ,
          { title:'标题2',user:'abc2',date:'2021-09-10', id:20},
          { title:'标题3',user:'abc3',date:'2021-09-15',id:100 }
        ]
      },
      methods:{
        add(){
          let { title,user,date } = this.obj;
          if(!title || !user || !date) return;
          var _id = Math.max(...this.lists.map(item=>item.id))+1;
          this.lists.push({
            title:title,
            user:user,
            date:date,
            id:_id
          });
          this.obj = {};
        },
        del(list){
          // this.lists.splice(i,1);
           this.lists = this.lists.filter(item=>item.id != list.id);
        },
        edit(list){
          this.flag=true;
          this.editObj = {...list};
        },
        update(){
          for(var i=0;i<this.lists.length;i++){
            if(this.lists[i].id == this.editObj.id){
              this.lists[i] = this.editObj;
              this.flag = false;
            }
          }
        } //update
      }
    })
  </script>
</body>
</html>